<% provide :title, t("help_title") %>
<% provide :title_base, t("title") %>
<h1><%= t("help.title") %></h1>
<p>
  <%= t("help.desc1") %>
  <%= link_to "http://www.railstutorial.org/help", t("help.link1") %>
  <%= t("help.desc2") %>
  <em><%= link_to "http://www.railstutorial.org/book", t("help.link2") %></em>
  <%= t("help.desc3") %>
</p>
